<UserScriptConfig>
	<Script basedir="wikipedia" checkRemoteUpdates="1" dependhash="cd7987bdc3de6f13e9f9db42e786c85ce10795ed" description="" enabled="true" filename="wikipedia.user.js" installTime="1482388286000" modified="1482544715000" name="Hide Wikipedia Sidebar" namespace="Hide Wikipedia Sidebar" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="499dbab8-0714-7a45-9177-4ae16a4e5595" version="1" updateurl="null">
		<Grant>none</Grant>
		<Include>https://en.wikipedia.org/wiki/*</Include>
		<Require filename="jquery-3.1.0.min.js"/>
	</Script>
	<Script basedir="ieee-full-text" checkRemoteUpdates="1" dependhash="cd7987bdc3de6f13e9f9db42e786c85ce10795ed" description="" enabled="true" filename="ieee-full-text.user.js" installTime="1482543285000" modified="1482544958000" name="Hide IEEE Full Text Sidebar" namespace="Hide IEEE Full Text Sidebar" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="3553cc68-9d36-964a-af50-f99c066040f5" version="1" updateurl="null">
		<Grant>none</Grant>
		<Include>http://ieeexplore.ieee.org/xpls/icp.jsp?arnumber=*</Include>
		<Require filename="jquery-3.1.0.min.js"/>
	</Script>
	<Script basedir="ieee" checkRemoteUpdates="1" dependhash="cd7987bdc3de6f13e9f9db42e786c85ce10795ed" description="" enabled="true" filename="ieee.user.js" installTime="1482551702000" modified="1489801787000" name="Hide IEEE Sidebar" namespace="Hide IEEE Sidebar" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="745bd541-fe4f-f04a-82a3-c357b71447b7" version="1" updateurl="null">
		<Grant>none</Grant>
		<Include>http://ieeexplore.ieee.org/document/*</Include>
		<Require filename="jquery-3.1.0.min.js"/>
	</Script>
	<Script basedir="contiki" checkRemoteUpdates="1" dependhash="cd7987bdc3de6f13e9f9db42e786c85ce10795ed" description="" enabled="true" filename="contiki.user.js" installTime="1487211864947" modified="1487214963000" name="Hide Contiki Sidebar" namespace="Hide Contiki Sidebar" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="b417d38a-cb10-4f31-8929-f73ee8bd4c54" version="1" updateurl="null">
		<Grant>none</Grant>
		<Include>http://anrg.usc.edu/contiki/*</Include>
		<Require filename="jquery-3.1.0.min.js"/>
	</Script>
	<Script basedir="texas-instruments" checkRemoteUpdates="1" dependhash="cd7987bdc3de6f13e9f9db42e786c85ce10795ed" description="" enabled="true" filename="texas-instruments.user.js" installTime="1489798572000" modified="1489801751000" name="Hide Texas Instruments Sidebar" namespace="Hide Texas Instruments Sidebar" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="4e42bcd0-c224-6542-bbdc-a3bf2f52f2ba" version="1" updateurl="null">
		<Grant>none</Grant>
		<Include>http://processors.wiki.ti.com/*</Include>
		<Require filename="jquery-3.1.0.min.js"/>
	</Script>
</UserScriptConfig>
